@model SCRSApplication.Models.RaiseRequestViewModel

@{
   
    ViewData["Title"] = "Details";
    var roles = ViewBag.RoleName;
    var roleId = ViewBag.RoleId;
    var userId = ViewBag.UserId;
    var user = ViewBag.UserName;
    var priority = ViewBag.SelectedText;
}

@if (roles.Contains("User"))
{
   
<h2>View Request Details</h2>

<div>
    @* <h4>RaiseRequestEntity</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
       @*  <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkStatus)
        </dd> 
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div>

 <br />
      <form method="get">
        <div class="row">
            <div class="col-md-1">
                <input type="hidden" name="id" value="@Model?.Id" />
                <button type="submit" asp-action="Edit" class="btn btn-primary">Edit</button>
                </div>
            <div class="col-md-1">
                <input type="hidden" name="id" />
                    <button type="submit" asp-action="Index" class="btn btn-outline-secondary">Back</button>
            </div>
        </div>
      </form>
     
 </div>

}

@if (roles.Contains("Manager"))
{
    <h2>View Users Request Details</h2>

<div>
    @* <h4>RaiseRequestEntity</h4> *@
    <hr />
   
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project)
        </dd>
      @*   <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Id)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>

        <div>
     
            <br />
            <form method="get">
                <div class="row">
                    <div class="col-md-1">
                        <input type="hidden" name="id" value="@Model?.Id" />
                        <button type="submit" asp-action="Edit" class="btn btn-primary">Edit</button>
                    </div>
                    <div class="col-md-1">
                        <input type="hidden" name="id" />
                    <button type="submit" asp-action="Index" class="btn btn-outline-secondary">Back</button>
                    </div>
                </div>
            </form>

        </div>
}

@if (roles.Contains("Developer"))
{
}