@model IEnumerable<SCRSApplication.Models.RaiseRequestViewModel>


@{

    ViewData["Title"] = "Index";
    var roles = ViewBag.RoleName;
    var roleId = ViewBag.RoleId;
    var userId = ViewBag.UserId;
    var user = ViewBag.UserName;

}

@if (roles.Contains("User"))
{

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


<h1>Your Raised Request List</h1>

<p>    
         <a asp-action="Create">Raise New Request</a>
         
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
          @*   <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                  
            <td>                
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td> *@
            <td>
                    <form asp-action="Edit" method="get">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
             </td>
             <td>
                    <form asp-action="Details" method="get">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-info">View</button>
                    </form>  
             </td>
             <td>
                    <form asp-action="Delete" method="get">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  @*   <button type="submit" class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</button> *@
             </td>
        </tr>
}
    </tbody>
</table>

          

}

@if (roles.Contains("Manager"))
{

    <h1>Users Raised Request List</h1>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                @*   <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.WorkStatus)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Comments)
            </th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                   @*  <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    @*  <td>
            @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.WorkStatus)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Role.Id)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.Comments)
            </td> *@
                    @* <td>
                        <form asp-action="Edit" method="get">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td> *@
                    <td>
                        <form asp-action="Details" method="get">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-info">View</button>
                        </form>
                    </td>
           
                </tr>
            }
        </tbody>
    </table>

}


@if (roles.Contains("Developer"))
{
}
